/* import-notation */
@import url("foo.css");
@import url("bar.css");

/**
 * Multi-line comment
 */

:root {
  --brand-red: hsl(5deg 10% 40%);
  --color-white: #fff;
  --font-family: "Helvetica", "Arial Black", sans-serif;
}

/* Single-line comment */

.class-foo:not(a, div) {
  inset-block-start: calc(100% - 2rem);
  margin: 0;
}

/* Flush single line comment */
@media (width >= 60em) {
  #id-bar {
    /* Flush to parent comment */
    --offset: 0px;

    inset-inline-start: calc(var(--offset) + 50%);
    font-family: var(--font-family);
    color: var(--color-white);
  }

  /* Flush nested single line comment */
  .selector-pseudo-element-colon-notation::after {
    display: block;
    content: "→";
    background-image: url("x.svg");
    background-repeat: no-repeat;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* at-rule-no-vendor-prefix */
.at-rule-no-vendor-prefix {
  /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
  transform: translate(1px, 1px);
}

/* color-function-notation */
.color-function-notation {
  .one {
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    color: rgb(0 0 0);
  }

  .two {
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    color: rgba(12 122 231 / 0.2);
  }

  .three {
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    color: hsla(270deg 60% 50% / 0.15);
  }

  .four {
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    color: hsl(0.75turn 60% 70%);
  }
}

/* color-hex-length */
.color-hex-length {
  color: var(--color-white);
}

/* comment-empty-line-before */
.comment-empty-line-before {
  /* Comment */
  margin: 0; /* comment */
  /* stylelint-disable-next-line color-no-hex */
  color: var(--brand-red);

  /* Comment */
  background: var(--brand-red);
}

/* comment-whitespace-inside */
.comment-whitespace-inside {
  /* Comment */
}

/* custom-property-empty-line-before */
.custom-property-empty-line-before-except-after-custom-property {
  --foo: var(--brand-red);
  --bar: var(--color-white);
}

.custom-property-empty-line-before-ignore-inside-single-line-block {
  --foo: var(--brand-red);
  --bar: var(--color-white);
}

.custom-property-empty-line-before-ignore-after-comment {
  /* comment */
  --foo: var(--brand-red);
}

/* custom-property-pattern */
.custom-property-pattern {
  --this-is-a-valid-custom-property: var(--brand-red);
}

/* declaration-block-no-redundant-longhand-properties */
.declaration-block-no-redundant-longhand-properties {
  margin: 0;
}

.declaration-block-no-redundant-longhand-properties-ignore-fonts {
  /* stylelint-disable scale-unlimited/declaration-strict-value */
  font-family: serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
  font-variant: normal;
  font-stretch: normal;
  line-height: 1.2;
  /* stylelint-enable scale-unlimited/declaration-strict-value */
}

/* declaration-block-single-line-max-declarations */
.declaration-block-single-line-max-declarations {
  margin: 0;
  color: var(--brand-red);
  background: var(--brand-red);
}

/* at-rule-empty-line-before */
.at-rule-empty-line-before {
  color: var(--brand-red);
}

@media screen {
  .at-rule-empty-line-before-a {
    color: var(--brand-red);
  }

  .at-rule-empty-line-before-b {
    color: var(--brand-red);
  }
}

/* font-family-name-quotes */
.font-family-name-quotes {
  /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
  font-family: "Times New Roman", Times, "MyFontVersion6", "sake_case_font", serif;
}

/* function-name-case */
.function-name-case {
  inline-size: calc(5% - 10em);
}

/* function-url-quote */
.function-url-quote {
  background: url("backdrop.png");
  background-repeat: no-repeat;
}

/* hue-degree-notation */
.hue-degree-notation {
  color: hsl(5deg 10% 40%);
}

/* length-zero-no-unit */
.length-zero-no-unit {
  --length-zero-no-unit: 0px;

  inset-block-start: 1.001vb;
  transition-delay: 0s;
}

/* lightness-notation */
.lightness-notation {
  color: oklch(70% 0.1 55deg);
}

/* media-feature-name-no-vendor-prefix */
@media (resolution >= 96dpi) {
  .media-feature-name-no-vendor-prefix {
    color: var(--brand-red);
  }
}

/* media-feature-range-notation */
@media (width >= 1px) {
  .media-feature-range-notation-a {
    color: var(--brand-red);
  }
}

@media (1px <= width <= 2px) {
  .media-feature-range-notation-b {
    color: var(--brand-red);
  }
}

/* number-max-precision */
.number-max-precision {
  inset-block-start: 3.2456px;
}

/* property-no-vendor-prefix */
.property-no-vendor-prefix {
  transform: translate(120px, 50%);
}

/* rule-empty-line-before */
.rule-empty-line-before {
  color: var(--brand-red);
}

/* selector-attribute-quotes */
[selector-attribute-quotes] {
  color: var(--brand-red);
}

[target="_blank"] {
  color: var(--brand-red);
}

[selector-attribute-quotes|="top"] {
  color: var(--brand-red);
}

[selector-attribute-quotes~="text"] {
  color: var(--brand-red);
}

[data-selector-attribute-quotes="component"] {
  color: var(--brand-red);
}

/* selector-class-pattern-a */
.selector-class-pattern-a {
  color: var(--brand-red);
}

/* selector-id-pattern-a */
#selector-id-pattern-a {
  color: var(--brand-red);
}

/* selector-no-vendor-prefix */
selector-no-vendor-prefix::placeholder {
  color: var(--brand-red);
}

/* selector-not-notation-complex */
:not(selector-not-notation-complex, div) {
  color: var(--brand-red);
}

.div:not(a.selector-not-notation-complex) {
  color: var(--brand-red);
}

.div:not(a).selector-not-notation-complex:not(:empty) {
  color: var(--brand-red);
}

/* selector-pseudo-element-colon-notation */
.selector-pseudo-element-colon-notation::before {
  color: var(--brand-red);
}

.selector-pseudo-element-colon-notation::after {
  color: var(--brand-red);
}

.selector-pseudo-element-colon-notation::first-letter {
  color: var(--brand-red);
}

.selector-pseudo-element-colon-notation::first-line {
  color: var(--brand-red);
}

.selector-pseudo-element-colon-notation::placeholder {
  color: var(--brand-red);
}

.selector-pseudo-element-colon-notation::marker {
  font-variant-numeric: tabular-nums;
}

/* selector-type-case */
a {
  color: var(--brand-red);
}

li {
  color: var(--brand-red);
}

/* shorthand-property-no-redundant-values */
.shorthand-property-no-redundant-values-a {
  margin: 1px;
}

.shorthand-property-no-redundant-values-b {
  margin: 1px 1px 1px 2px;
}

.shorthand-property-no-redundant-values-c {
  padding: 1px 1em 1pt 1pc;
}

.shorthand-property-no-redundant-values-d {
  border-radius: 10px / 5px;
}

/* value-keyword-case */
.value-keyword-case {
  display: block;
}

/* value-no-vendor-prefix */
.value-no-vendor-prefix-a {
  display: block;
}

/* value-no-vendor-prefix */
.value-no-vendor-prefix-b {
  display: flex;
  flex-wrap: nowrap;
}

.value-no-vendor-prefix-c {
  max-inline-size: max-content;
}

.value-no-vendor-prefix {
  /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
  background: linear-gradient(to bottom, #000, #fff);
}

/* stylelint-declaration-strict-value */
.stylelint-declaration-strict-value-a {
  color: inherit;
}

.stylelint-declaration-strict-value-b {
  color: currentcolor;
}

.stylelint-declaration-strict-value-c {
  color: transparent;
}

/* max-nesting-depth */
.max-nesting-depth-a {
  .max-nesting-depth-b {
    .max-nesting-depth-c {
      color: var(--brand-red);
    }
  }
}

/* function-url-no-scheme-relative */
.function-url-no-scheme-relative-a {
  background: url("https://example.com/images/image.png");
  background-repeat: no-repeat;
}

.function-url-no-scheme-relative-b {
  background: url("../images/image.png");
  background-repeat: no-repeat;
}

.function-url-no-scheme-relative-c {
  background: url("http://example.com/images/image.png");
  background-repeat: no-repeat;
}

.function-url-no-scheme-relative-d {
  background: url("/images/image.png");
  background-repeat: no-repeat;
}

/* function-url-quotes */
.function-url-quotes {
  background: url("backdrop.png");
  background-repeat: no-repeat;
}

/* font-weight-notation */
.font-weight-notation {
  font-weight: 700;
}

/* media-feature-name-no-unknown */
.media-feature-name-no-unknown {
  @media (width >= 700px) and (orientation: landscape) {
    color: var(--brand-red);
  }

  @container (inline-size > 300px) {
    color: var(--brand-red);
  }
}

/* media-feature-name-no-vendor-prefix */
.media-feature-name-no-vendor-prefix {
  @media (resolution >= 96dpi) {
    color: var(--brand-red);
  }
}

/* selector-max-universal */
* {
  color: var(--brand-red);
}

/* selector-max-specificity */
#id-bar .foo .bar {
  color: var(--brand-red);
}

.foo .bar .baz {
  color: var(--brand-red);
}

a article section {
  color: var(--brand-red);
}

/* selector-max-compound-selectors */
#id-bar .bar .baz {
  color: var(--brand-red);
}

/* color-named */
.color-named {
  color: var(--brand-red);
}

/* alpha-value-notation */
.alpha-value-notation {
  /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
  background-color: rgb(0 0 0 / 0.5);
  opacity: 1;
}

/* plugin/no-low-performance-animation-properties */
.no-low-performance-animation-properties {
  transition: transform 0.5s ease-in-out;
}

/* csstools/use-nesting */
.use-nesting {
  color: var(--color-white);

  @media (hover: hover) {
    &:hover {
      color: var(--brand-red);
    }
  }

  @media (width >= 640px) {
    color: var(--brand-red);
  }
}

/* csstree/validator */
.csstree-validator {
  color: oklch(70% 0.1 55deg);
  container: wrapper / inline-size;
  container-name: wrapper;
  container-type: inline-size;
  text-wrap: balance;
}

@layer components {
  .csstree-validator {
    color: var(--color-white);
  }
}

/* scale-unlimited/declaration-strict-value */
.declaration-strict-value-0 {
  font-size: inherit;
}

.declaration-strict-value-a {
  color: currentcolor;
}

.declaration-strict-value-b {
  color: transparent;
}

.declaration-strict-value-c {
  color: inherit;
}

/* plugin/use-logical-properties-and-values */
.use-logical-properties-and-values {
  margin-block-start: 1em;
  margin-inline-start: 1em;
  border-block-end-width: 1em;
  border-inline-end-width: 1em;
}

/* plugin/use-logical-units */
.use-logical-units {
  inline-size: 100vi;
  block-size: 100vb;
}

/* plugin/use-defensive-css accidental-hover */
@media (hover: hover) {
  .accidental-hover:hover {
    color: var(--brand-red);
  }
}

/* background-repeat */
.background-repeat-a {
  background: url("some-image.jpg") repeat var(--brand-red) top center;
}

.background-repeat-b {
  background: url("some-image.jpg") var(--brand-red) top center;
  background-repeat: no-repeat;
}

/* scroll-chaining, scrollbar-gutter */
.scroll-chaining-a {
  overflow-inline: auto;
  overscroll-behavior-inline: contain;
  scrollbar-gutter: auto;
}

.scroll-chaining-b {
  overflow: hidden scroll;
  overscroll-behavior: contain;
  scrollbar-gutter: stable;
}

.scroll-chaining-c {
  overflow: hidden; /* No overscroll-behavior or scrollbar-gutter is needed in the case of hidden */
}

.scroll-chaining-d {
  overflow-block: auto;
  overscroll-behavior: none;
  scrollbar-gutter: stable both-edges;
}
